* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #096b35, #490d61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero span {

    color: #05facd;


}

textarea {
    width: 500px;
    background: linear-gradient(45deg, #490d61, #096b35);
    height: 175px;
    color: #ffffff;
    font-size: 17px;
    border: 0;
    padding: 20px;
    border-radius: 25px;
    resize: none;
    margin-bottom: 30px;

}

textarea ::placeholder {
    color: #ddd;
    font-size: medium;
}

.row {
    width: 500px;
    display: flex;
    align-items: center;
    gap: 27px;

}

button {
    background-color: #eeff00;
    color: #000000;
    font-size: medium;
    border: 0;
    cursor: pointer;
    padding: 10px, 30px;
    border: 0;
    border-radius: 5px;
    outline: 0;
    height: 27px;
}

select {

    flex: 1;
    color: #fff;
    background: #000000;
    height: 27px;
    border-radius: 17px;
    padding: 0 20px;
    border: 0;
    outline: 0;


}